<div class="col-md-9 addHotel main"> 
   
 <form action='/admin/addHotel' method='POST'>
  <h3 class="text-center mb-5">ADD HOTEL</h3>
            <div class="form-group">
                <label>Hotel Name</label>
                <input type="text" class="form-control" name="hotelname">
            </div>
             <div class="form-group">
                <label>Address of Hotel</label>
                <input type="text" class="form-control" name="address">
            </div>
            <div class="form-group">
                <label>Locted City</label>
                <input type="text" class="form-control" name="place">
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
             <div class="form-group">
                <label>Contact Number</label>
                <input type="text" class="form-control" name="contact">
            </div>
           
            <button type="submit" class="btn btn-lg">Add Hotel</button>
        </form>
</div>        