
<section class="col-md-10 main">
  <div class="dashboard container">
    <div class="row mt-5 mb-5">
    <span>Dashboard</span>
    </div>
    <div class="row justify-content-center">
    <div class="card text-center card1 m-2" style="width: 15rem;height:7rem">
  <div class="card-body">
    <h5 class="card-title">Total Hotels</h5>
    <h3 class="card-text">20</h3>
  </div>
</div>
<div class="card text-center card2 m-2" style="width: 15rem;height:7rem">
  <div class="card-body">
    <h5 class="card-title">Total Users</h5>
    <h3 class="card-text">100</h3>
  </div>
</div>
<div class="card text-center card3 m-2" style="width: 15rem;height:7rem">
  <div class="card-body">
    <h5 class="card-title">Total bookings</h5>
    <h3 class="card-text">500</h3>
  </div>
</div>
<div class="card text-center card4 m-2" style="width: 15rem;height:7rem">
  <div class="card-body">
    <h5 class="card-title">Most Booked Hotels</h5>
    <h3 class="card-text">30</h3>
  </div>
</div>
</div>
</div>
</div>
</section>