<div class="col-md-10 main">
  <div class="container">
    <div class="row mt-5 mb-5">
      <span>Hotels</span>
    </div>
    <div class="row mb-3"><a href="/admin/addHotel" class="btn btn-primary ml-auto">Add Hotel</a></div>
    <div class="row justify-content-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Hotel Name</th>
            <th scope="col">Hotel Location</th>
            <th scope="col">Hotel Star</th>
            <th scope="col">Hotel Joined</th>
            <th scope="col">Hotel Contact</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Prime Palace</td>
            <td>Kochi,Kerala</td>
            <td>5</td>
            <td>26/11/2020</td>
            <td>8954635634</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Grand Hyatt</td>
            <td>Kochi,Kerala</td>
            <td>7</td>
            <td>26/11/2020</td>
            <td>9756563345</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Grand Hotel</td>
            <td>MG Road,Kochi,Kerala</td>
            <td>5</td>
            <td>26/11/2020</td>
            <td>9864334521</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Green Palace</td>
            <td>Kochi,Kerala</td>
            <td>5</td>
            <td>26/11/2020</td>
            <td>9856432341</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Le Meredian</td>
            <td>Kochi,Kerala</td>
            <td>5</td>
            <td>26/11/2020</td>
            <td>9564324531</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>