<div class="col-md-2 sideBar">
<ul>
    <li><a href="/admin/dashboard">Dashboard</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
    <li><a href="/admin//hotels">Hotels</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
    <li><a href="/admin/users">Users</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
</ul>
</div>