<div class="col-md-2 sideBar">
<ul>
    <li><a href="/hotel/dashboard">Dashboard</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
    <li><a href="/hotel/rooms">Rooms</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
    <li><a href="/hotel/customers">Customers</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
    <li><a href="/hotel/features">Features</a><span class="ml-auto mr-2" style="font-size:30px">&#8250;</span></li>
</ul>
</div>