<div class="col-md-10 main">
  <div class="container">
    <div class="row mt-5 mb-5">
      <span>Users</span>
    </div>
    <div class="row justify-content-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">User Email</th>
            <th scope="col">User Joined</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">TR01</th>
            <td>Thomas Terrus</td>
            <td>thomasterrus123@gmail.com</td>
            <td>26/11/2020</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">TR02</th>
            <td>Meenu M S</td>
            <td>meenumsmav@gmail.com</td>
            <td>26/11/2020</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">TR03</th>
            <td>Elena Jose</td>
            <td>elenajose234@gmail.com</td>
            <td>26/11/2020</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">TR04</th>
            <td>Jermy Jose</td>
            <td>jermyjose675@gmail.com</td>
            <td>26/11/2020</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
          <tr>
            <th scope="row">TR03</th>
            <td>Teena Jacob</td>
            <td>theenajacob34@gmail.com</td>
            <td>26/11/2020</td>
            <td><a href="#" class="btn btn-success mr-3">Edit</a><a href="#" class="btn btn-danger">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>